// conf/ci.config
//
// Configuration for GitHub Actions CI tests.
// Overrides default resource requirements to fit within GitHub Actions runner limits.

process {
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 7.GB * task.attempt, 'memory'  ) }
    }
    withLabel:process_medium {
        cpus   = 4
        memory = { check_max( 7.GB * task.attempt, 'memory'  ) }
    }
}
